<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <ul>
            <li v-for="(todo, ind) in todos" :style= "todo.done ? textDecor : {}">{{todo.text}} 
                <span @click="cancellaItem(ind)">x</span>
            </li>
        </ul>
    
        <input id="input" type="text" v-model="newOb.text" @keyup.enter="addTodo">
        <button @click="addTodo()">aggiungi</button>
    </div>
    

    
    <script src="js/script.js"></script>
</body>
</html>